/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    color: #f8f9fa;
    background-color: black;
}

p { 
    font-size: 1.25rem;
    overflow-y: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

.navbar {
    padding-left: 25%;
    padding-right: 25%;
}

.wrapper {
    width: 50%;
    padding-top: 112px;
    margin: 0 auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blockquote {
    padding-left: 0.8em;
    margin-left: 1em;
    color: rgba(255,255,255,0.7);
    font-size: 1.2em;
}

.blockquote p {
    font-style: italic;
    margin-bottom: 0.2rem;
}

.section {
    padding-bottom: 3rem;
}

nav { background-color: #000;}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,0.6);
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

#home-section, #about-section, #our-team-section, #events-section, #shop-section, #contact-section { 
    padding-top: 56px;
}

.extra-padding-top {
    padding-top: 56px;
}

.extra-padding-bottom {
    margin-bottom: 56px;
}

.full-height { min-height: 100vh; }
.half-height { min-height: calc(50vh - 56px); }
.third-height { min-height: calc(33vh - 56px); }
.last-section-height { min-height: 96vh; }
.footer-height { min-height: 4vh; }

.image-grayscale {
    filter: grayscale(100%);
    transition: 0.5s;
}

.image-grayscale:hover {
    filter: grayscale(0);
}

/* About Section */
#home-splash-background {
    background-size: 100%;
    background-size: cover;
    background-position: center center;
    vertical-align: top;
    height: 100vh;
    background-image: url("../images/face-in-dark-2.jpg");
}

#home-splash-filter {
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.3); */
}

#home-splash-content {
    color: white;
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
}

h1.display-3 {
    margin: auto;
}

.column-right {
    padding-left: 3em;
    padding-right: 1em;
}

.column-left {
    padding-left: 1em;
    padding-right: 3em;
}

.image-height {
    height: 75vh;
}

.about-image-frame {
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.image-credits {
    position: absolute;
    bottom: 0;
    left: 3rem; /* must change in media queries to scale */
    width: calc(100% - 4rem); /* must change in media queries to scale */
    font-size: 1rem;
    background-color: rgba(0,0,0,0.6);
    text-align: right;
    padding: 0.9rem;
}

#about-image-face {
    background-image: url("../images/face-in-dark.jpg");
}

/* Our Team Section */
.our-team-profile-portrait {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 2rem;
}

/* Events Section */
.image-fill-container {
    object-fit: cover;
}

.carousel-caption {
    width: 100%;
    height: 33.3%;
    background: rgba(0,0,0,0.6);
    left: 0;
    bottom: 0;
    padding-top: 40px;
    padding-left: 16%;
    padding-right: 16%;
    overflow: hidden;
    transition: 0.5s;
}

/* Shop Section */
.card {
    /* background: gray; */
}

/* Contact Section */
.iframe-container {
    overflow: hidden;
    padding-top: 55%;
    position: relative;
    filter: grayscale(100%);
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

td {
    color: #f8f9fa;
}

td.contact-td-icons {
    width: 1em;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

td.contact-td-content {
    padding-top: 0;
}

/* Footer */
.footer {
    text-align: center;
    line-height: 4vh;
}

/* Mobile/Tablet Support */
@media only screen and (max-width: 1300px) {
    .wrapper {
        width: 67%;
    }

    .navbar {
        padding-left: 16.5%;
        padding-right: 16.5%;
    }
    
    h1 {
        font-size: 3rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1em;
    }

    .column-right {
        padding-left: 2em;
    }

    .image-credits {
        left: 2rem;
        width: calc(100% - 3rem);
    }
    
    .column-left {
        padding-right: 2em;
    }

    .our-team-profile-portrait {
        margin: 0 auto;
        width: 75%;
    }

    .iframe-container {
        padding-top: 60%;
    }
}

@media only screen and (max-width: 900px) { 
    .wrapper {
        width: 85%;
    }
    
    .navbar {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }
    
    h1 {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .column-right {
        padding-left: 1em;
    }

    .image-credits {
        left: 1rem;
        width: calc(100% - 2rem);
    }

    .column-left {
        padding-right: 1em;
    }
    
    .our-team-profile-portrait {
        margin: 0 auto;
        width: 50%;
    }

    .iframe-container {
        padding-top: 80%;
    }
}